* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.fix-size {
    object-fit: scale-down;
}

html,
body {
    width: 100%;
    height: 100%;
}

main,
header {
    width: 100%;
}

header,
footer {
    z-index: 10;
    background-color: #fff;
}

header,
footer,
aside,
    {
    padding-left: 15px;
}

header,
footer,
.main-container {
    padding-right: 15px;
}

.big {
    font-size: 86px;
    color: grey;
}

header {
    max-height: 100px;
    position: sticky;
    top: -1px;
    display: inline-flex;
}

.header-container {
    width: 100%;
    display: inline-flex;
}

.header-container img {
    margin-right: auto;
    max-width: 100px;
    max-height: 100px;
}

.subject-container {
    max-width: 100%;
    max-height: 150px;
    margin-left: auto;
    text-align: right;
    display: block;
    align-self: center;
}

#name {
    margin-bottom: 0;
    border-block-end: 5px groove gray;
}

#role {
    margin-top: 0;
    padding-top: 5px;
    text-align: end;
}

main {
    position: relative;
    max-height: 100%;
    margin: auto;
}

aside {
    max-width: 20%;
    position: relative;
}

figure {
    margin: 0;
    overflow: hidden;
}

.figure-wrapper {
    margin-left: 0;
    margin-right: auto;
}

.figure-wrapper figure {
    width: 100%;
    max-width: 100%;
    max-height: 25%
}

.side-figure {
    max-height: 20vh;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}

.side-figure img {
    height: auto;
}

.main-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.article-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 75%;
}

.article-wrap article {
    justify-content: center;
    margin: auto;
}

article {
    max-width: 100%;
}

.n1st {
    order: 1;
}

.n2nd {
    order: 2;
}

.n3rd {
    order: 3;
}

.n4th {
    order: 4;
}

.n5th {
    order: 5;
}

.n6th {
    order: 6;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    max-height: 50px;
}

.contact {
    text-align: end;
}

.inline-block {
    display: inline-block;
    margin-inline-end: 5px;
}

.mute-link {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.mute-link:hover {
    text-shadow: 2px 2px 6px #333;
}

@media only screen and (max-width: 387px) {
    .article-wrap article {
        max-height: 30%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7px;
    }
    .big {
        font-size: 48px;
    }
    .img-wrap {
        max-height: 250px;
        overflow: hidden;
    }
    .thumbnail {
        width: 48px;
        height: 48px;
    }
    #name {
        font-size: 1.3em;
    }
    #role {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 388px) and (max-width: 540px) {
    .thumbnail {
        width: 76px;
        height: 76px;
    }
    .big {
        font-size: 58px;
    }
    #name {
        font-size: 1.5em;
    }
    #role {
        font-size: 1em;
    }
}

@media only screen and (min-width: 790px) and (max-width: 1023) {
    body,
    footer {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    body,
    footer {
        margin-left: auto;
        margin-right: auto;
    }
    .article-wrap {
        max-width: 85%;
        margin-left: 15px;
    }
    .article-wrap article {
        margin-top: 0;
    }
    .main-container {
        max-height: 69vh;
    }
    .subject-container {
        margin-right: auto;
    }
    .fix-size {
        width: calc(175px/2);
        height: calc(306px/2);
    }
    .n3rd {
        order: 2;
    }
    .n4th {
        order: 3;
    }
    .n5th {
        order: 4;
    }
    .n6th {
        order: 5;
    }
    .n2nd {
        order: 6;
    }
    .n1st {
        max-width: 50%;
        max-height: 70vh;
    }
    .n3rd,
    .n4th,
    .n5th,
    .n6th {
        max-height: 20vh;
        max-width: 20%;
    }
}